.aboutMovie {
    padding-top: 12rem;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;

    &__details p {
        line-height: 150%;
    }

    &__title,
    &__genres,
    &__release,
    &__country,
    &__duration,
    &__overview,
    &__cast {
        margin-bottom: .8rem;
    }

    &__title {
        //font-family: 'Titillium Web', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-size: 4.5rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $green;
        margin-bottom: 1rem;
    }

    &__section {
        color: $green;
        font-weight: 700;
    }

    &__poster-container {
        margin-right: 6rem;
    }

    &__no-movie-poster {
        width: 34.2rem;
        height: 51.3rem;
    }

    &__cast-carousel {
        display: flex;
        align-items: center;
        height: 8rem;
    }

    &__button {
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }

    &__button:disabled {
        cursor: auto;
    }

    &__button:disabled &__arrow {
        fill: rgba(#fff, .3);
    }

    &__arrow {
        width: 3rem;
        height: 3rem;
        fill: #fff;
        transition: all .4s ease;
    }

    &__arrow:hover {
        fill: $green;
    }

    &__actors {
        //display: flex;
        //flex-wrap: nowrap;
        width: 45rem;
        overflow: hidden;
        margin: 0 2rem;
        //background: lightcoral;
        //transition: transform .4s ease;
    }

    &__track {
        display: flex;
        flex-wrap: nowrap;
        transition: transform .4s ease;
    }

    &__actor {
        border-radius: 100px;
        padding: 0 .5rem;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__actor-profile,
    &__no-actor-profile {
        width: 8rem;
        height: 8rem;
        border-radius: 100px;
    }

    &__actor-profile {
        object-fit: cover;
    }
}