.aboutMovie {
    padding-top: 10rem;
    color: #fff;

    &__cast {
        display: flex;
        align-items: center;
        height: 8rem;
    }

    &__button {
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        //fill: #f;
    }

    &__arrow {
        width: 3rem;
        height: 3rem;
        fill: #fff;
        transition: all .4s ease;
    }

    &__arrow:hover {
        fill: $green;
    }

    &__actors {
        display: flex;
        flex-wrap: nowrap;
        width: 40rem;
        overflow: hidden;
        //background: lightcoral;
    }

    &__actor {
        border-radius: 100px;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__actor-profile,
    &__no-actor-profile {
        width: 8rem;
        height: 8rem;
        border-radius: 100px;
    }

    &__actor-profile {
        object-fit: cover;
    }
}