.aboutMovie {
    height: 100% !important;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;

    &__wrapper {
        flex: 1;
        padding-top: 12rem;
        padding-bottom: 6rem;
    }

    &__details p {
        line-height: 150%;
    }

    &__genres,
    &__release,
    &__country,
    &__duration,
    &__overview,
    &__cast {
        margin-bottom: .4rem;
    }

    &__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $green;
        margin-bottom: .5rem;
    }

    &__section {
        color: $green;
        font-weight: 700;
    }

    &__poster-container {
        text-align: center;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    &__poster,
    &__no-movie-poster {
        width: 22.8rem;
        height: 34.2rem;
    }

    &__cast-carousel {
        display: flex;
        align-items: center;
        height: 5rem;
    }

    &__button {
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }

    &__button:disabled {
        cursor: auto;
    }

    &__button:disabled &__arrow {
        fill: rgba(#fff, .3);
    }

    &__arrow {
        width: 3rem;
        height: 3rem;
        fill: #fff;
        transition: all .4s ease;
    }

    &__arrow:hover {
        fill: $green;
    }

    &__actors {
        width: 30rem;
        overflow: hidden;
        margin: 0 .5rem;
    }

    &__track {
        display: flex;
        flex-wrap: nowrap;
        transition: transform .4s ease;
        height: 5rem;
    }

    &__actor {
        border-radius: 100px;
        padding: 0 .5rem;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__actor-profile,
    &__no-actor-profile {
        width: 5rem;
        height: 5rem;
        border-radius: 100px;
    }

    &__actor-profile {
        object-fit: cover;
    }
}

.row--aboutMovie {
    display: flex;
    flex-direction: column;
}

@media (min-width: $smallest-tablet) {
    .aboutMovie__poster,
    .aboutMovie__no-movie-poster {
        width: 28.5rem;
        height: 42.75rem;
    }
}

@media (min-width: $small-tablet) {
    .aboutMovie__wrapper {
        padding-top: 12rem;
        padding-bottom: 0;
    }

    .row--aboutMovie {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .aboutMovie__poster-container {
        text-align: left;
        margin-bottom: 0;
    }
}

@media (min-width: $smallest-screen) {

    .aboutMovie__poster,
    .aboutMovie__no-movie-poster {
        width: 34.2rem;
        height: 51.3rem;
    }

    .aboutMovie__genres,
    .aboutMovie__release,
    .aboutMovie__country,
    .aboutMovie__duration,
    .aboutMovie__overview,
    .aboutMovie__cast {
        margin-bottom: .8rem;
    }

    .aboutMovie__title {
        font-size: 4.5rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: $smaller-screen) {
    .aboutMovie__actor-profile,
    .aboutMovie__no-actor-profile {
        width: 6rem;
        height: 6rem;
    }

    .aboutMovie__actors {
        width: 35rem;
    }

    .aboutMovie__cast-carousel,
    .aboutMovie__track {
        height: 6rem;
    }
}


@media (min-width: $small-screen) {
    .aboutMovie__actor-profile,
    .aboutMovie__no-actor-profile {
        width: 8rem;
        height: 8rem;
    }

    .aboutMovie__actors {
        width: 45rem;
    }

    .aboutMovie__cast-carousel,
    .aboutMovie__track {
        height: 8rem;
    }
}

@media (min-width: $normal-screen) {
    .aboutMovie__poster-container {
        margin-right: 6rem;
    }

    .aboutMovie__actors {
        margin: 0 2rem;
    }
}