.genres {
    height: 100% !important;
    display: flex;
    flex-direction: column;

    &__wrapper {
        flex: 1;
        padding-top: 4rem;
        display: flex;
        align-items: center;
    }

    &__content {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: .4rem;
        grid-column-gap: 2rem;
        text-align: center;
        width: 32rem;
    }

    &__item {
        transition: all .4s ease;
    }

    &__link {
        color: #fff;
        text-decoration: none;
        font-size: 2rem;
        transition: color .4s ease;
    }

    &__item:hover {
        transform: translateY(.2rem);
    }

    &__item:hover &__link {
        color: $green;
    }
}

@media (min-width: $phone-device) {
    .genres {
        padding-top: 7rem;
    }

    .genres__wrapper {
        padding: 0;
    }

    .genres__content {
        grid-template-columns: repeat(2, 30rem);
        grid-row-gap: 1rem;
        grid-column-gap: 4rem;
        width: 64rem;
        height: 44rem;
        transform: translateY(-4rem);
    }
    .genres__link {
        font-size: 3rem;
    }
}