.header {
    background-color: $violet;
    font-family: 'Signika', sans-serif;
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;

    &__box-arrow {
        background-color: transparent;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
    }

    &__arrow {
        fill: #fff;
        width: 3rem;
        height: 3rem;
    }

    &__item {
        margin-right: 2rem;
        transition: all .2s ease;
    }

    &__item:last-of-type {
        margin-right: auto;
    }

    &__item:hover {
        transform: translateY(.1rem);
    }

    &__link {
        color: #fff;
        text-decoration: none;
        font-size: 2rem;
        transition: all .4s;
    }

    &__link:hover {
        color: $green;
    }
}