.header {
    background-color: $violet;
    font-family: 'Titillium Web', sans-serif;
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;

    &__box-arrow {
        background-color: transparent;
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 50%;
        left: .5rem;
        transform: translateY(-50%);
    }

    &__arrow {
        fill: #fff;
        width: 2rem;
        height: 2rem;
    }

    &__item {
        margin-right: .8rem;
        transition: all .2s ease;
    }

    &__item:last-of-type {
        margin-right: auto;
    }

    &__item:hover {
        transform: translateY(.1rem);
    }

    &__link {
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem;
        transition: all .4s;
    }

    &__link:hover {
        color: $green;
    }
}

@media (min-width: $phone) {
    .header__box-arrow {
        left: .8rem;
    }
}

@media (min-width: $smaller-phone) {
    .header__box-arrow {
        width: 3rem;
        height: 3rem;
        left: 2rem;
    }

    .header__arrow {
        width: 3rem;
        height: 3rem;
    }

    .header__item {
        margin-right: 2rem;
    }

    .header__link {
        font-size: 2rem;
    }
}