
.result {
    background-color: $violet-light;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 9rem;
        width: 19.5rem;
    }
}

@media (min-width: $desktop-2) {
    .result__container { width: 39rem; }
}

@media (min-width: $desktop-3) {
    .result__container { width: 58.5rem; }
}

@media (min-width: $desktop-4) {
    .result__container { width: 78rem; }
}

@media (min-width: $desktop-5) {
    .result__container { width: 97.5rem; }
}

@media (min-width: $desktop-6) {
    .result__container { width: 117rem; }
}

@media (min-width: $mac-desktop) {
    .result__container { width: 136.5rem; }
}

@media (min-width: $desktop-7) {
    .result__container { width: 136.5rem; }
}

@media (min-width: $desktop-8) {
    .result__container { width: 156rem; }
}

@media (min-width: $desktop-9) {
    .result__container { width: 175.5rem; }
}

@media (min-width: $desktop-10) {
    .result__container { width: 195rem; }
}

@media (min-width: $desktop-11) {
    .result__container { width: 214.5rem; }
}

@media (min-width: $desktop-12) {
    .result__container { width: 234rem; }
}

@media (min-width: $desktop-13) {
    .result__container { width: 253.5rem; }
}
