.result {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &__container {
        background-color: $violet-light;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 9rem;
    }
}