.search {
    align-items: center;
    display: flex;
    position: relative;

    &__input {
        animation-name: autofill;
        animation-fill-mode: both;
        background-color: $violet;
        border: 1.2px solid rgba(#fff, .6);
        border-radius: 100px;
        color: rgba(#fff, .6);
        font-size: 1.2rem;
        height: 100%;
        transition: all .4s ease;
        padding: .2rem;
        padding-left: .8rem;
        width: 12rem;
    }

    &__input:focus {
        border: 1.5px solid #fff;
        color: #fff;
        outline: none;
    }

    &__input:focus + &__btn &__icon {
        fill: #fff;
    }

    &__btn {
        background-color: transparent;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        right: 1rem;
        position: absolute;
        width: 1.5rem;
    }

    &__btn:focus {
        outline: none;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: rgba(#fff, .6);
        transition: all .4s;
    }
}

@media (min-width: $smaller-phone) {
    .search__input {
        border: 1.5px solid rgba(#fff, .6);
        width: 22rem;
        font-size: 1.4rem;
        padding: .5rem;
        padding-left: 1rem;
    }

    .search__btn {
        width: 2rem;
    }

    .search__icon {
        width: 2rem;
        height: 2rem;
    }
}

@keyframes autofill {
    to {
        background-color: $violet;
        color: #fff;
    }
}