* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

html,
body {
    height: 100%;
    background-color: #30273d;
}

#app {
    height: 100%;
}

.row {
    margin: 0 auto;
    max-width: 114rem;
    padding: 0 4rem;
}

.row--flex {
    display: flex;
    align-items: center;
}

@media (min-width: $device) {
    .row {
        padding: 0 5rem;
    }
}

@media (min-width: $smaller-phone) {
    .row {
        padding: 0 7rem;
    }
}

@media (min-width: $header-1) {
    .row {
        padding: 0;
    } 
}