// Colors
$violet: #261f30;
$violet-light: #30273d;
$green: #badc58;

//
//$desktop: 90em;
$sma-desktop: 24.3125em; // 389
$smal-desktop: 36.5em; // 584
$small-desktop: 48.6875em; // 779
$desktop: 60.875em; // 974
$n-desktop: 73.0625em; // 1169
$no-desktop: 85.25em; // 1364
$mac-desktop: 90em; // 1440;
$nor-desktop: 97.4375em; // 1559
$norm-desktop: 109.625em; // 1754
$normal-desktop: 121.8125em; // 1949
$medium-desktop: 134em; // 2144
$big-desktop: 146.1875em; // 2339
$large-desktop: 158.375em; // 2534
$huge-desktop: 160em; // 2560