// Colors
$violet: #261f30;
$violet-light: #30273d;
$green: #badc58;

//
//$desktop: 90em;
$sma-desktop: 24.3125em;
$smal-desktop: 36.5em;
$small-desktop: 48.6875em;
$desktop: 60.875em;
$n-desktop: 73.0625em;
$no-desktop: 85.25em;
$nor-desktop: 97.4375em;
$norm-desktop: 109.625em;
$normal-desktop: 121.8125em;
$medium-desktop: 134em;
$big-desktop: 146.1875em;
$large-desktop: 158.375em;
$huge-desktop: 160em;