// Colors
$violet: #261f30;
$violet-light: #30273d;
$green: #badc58;
// Breakpoints for header
$header-1: 86.875em; // 1390

// Breakpoints for result
$desktop-2: 36.5em; // 584
$desktop-3: 48.6875em; // 779
$desktop-4: 60.875em; // 974
$desktop-5: 73.0625em; // 1169
$desktop-6: 85.25em; // 1364
$mac-desktop: 90em; // 1440;
$desktop-7: 97.4375em; // 1559
$desktop-8: 109.625em; // 1754
$desktop-9: 121.8125em; // 1949
$desktop-10: 134em; // 2144
$desktop-11: 146.1875em; // 2339
$desktop-12: 158.375em; // 2534
$desktop-13: 160em; // 2560